.pokemon-container{
  display: flex;
  width: 100%;
  margin-top: 150px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}
.pokemon-list{
  display: flex;
  width: 60%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
}
.pokemon-item{
  display: flex;
  width: 30%;
  background-color: rgba(57, 57, 57, 0.371);
  backdrop-filter: blur(10px);
  height: 350px;
  border: none;
  margin-bottom: 40px;
  flex-direction: column;
}
.pokemons-title{
  margin-bottom: 30px;
}
.pokemon-item-img{
  width: 100%;
  height: 50%;
  object-fit: contain;
  object-position: center;
}