.filter-bar{
  display: flex;
  width: 300px;
  height: 490px;
  z-index: 6;
  margin-top: 150px;
  background-color: rgba(128, 128, 128, 0.226);
  backdrop-filter: blur(10px);
  color: white;
  margin-left: 60px;
}
.input-filter{
  width: 70%;
  height: 20px;
}