.carrito-container{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}
.cartwidget-img{
  height: 37px;
  transition: height 0.15s;
}
.contador-prods{
  position: absolute;
  color: white;
  font-size: 15px;
  top: 5px;
  right: 0;
  transition: font-size 0.15s, top 0.15s;
}
.cartwidget-img:hover{
  height: 39px;
  cursor: pointer;
}
.cartwidget-img:active{
  height: 37px;
}
.cartwidget-img:hover ~ .contador-prods{
  font-size: 17px;
  top: 4px;
}
.cartwidget-img:active ~ .contador-prods{
  font-size: 15px;
  top: 5px;
}