.logo-grande{
  height: 80px;
}
.logo-mediano{
  height: 60px;
}
.logo-chico{
  height: 40px;
}
.logo-container{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.logo-container h1{
  margin-left: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 60px;
  display: flex;
}