.pagina-inicio{
  display: flex;
  width: 100%;
  min-height: 703px;
}
.inicio-container{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  min-height: 600px;
  margin-top: 150px;
  justify-content: left;
  align-items: center;
}
.inicio-title{
  color: white;
  display: flex;
  justify-content: left;
  line-height: 45px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 45px;
}